@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    background-color: #f9e514;
    margin: 0;
}

.menu_nav{
    background-color: white;
    height: 64px;
    margin-top: 52px;
    margin-right: 9%;
    margin-bottom: 102px;
    margin-left: 9%;
    border-radius: 8px;
    padding-right: 24px;
    align-content: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.links{
    text-decoration: none;
    color: #8d857b;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.links_special{
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.conteudo_main{
    display: flex;
    flex-direction: column;
}

.titulos{
    display: flex;
    flex-direction: column;
    padding-left: 15%;
}

.titulos_h1{
    margin: 0px 0px 4px 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 3em;
}

.titulos_h2{
    margin: 4px 0px 14px 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.8em;
}

.lista{
    display: flex;
    flex-direction: column;
    padding-left: 19%;
}

.itens_lista{
    margin: 6px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.botoes{
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 32px 2px 24px 18%;
    align-items: center;
}

.botao{
    background-color: #ffffff00;
    padding: 16px 52px 16px 52px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1em;
}
